<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <div *ngIf="form.errors" class="alert alert-danger">Invalid Input</div> -->
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      class="form-control"
      type="password"
      id="oldPassword"
    />
    <div *ngIf="oldPassword.pending">checking...</div>
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && !oldPassword.valid"
    >
      <div *ngIf="oldPassword.errors.required">old password required</div>
      <div *ngIf="oldPassword.errors.cannotContainSpace">space no allowed</div>
      <div *ngIf="oldPassword.errors.oldPasswordNotMatched">
        old password does not match
      </div>
    </div>
  </div>
  <div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        formControlName="newPassword"
        class="form-control"
        type="password"
        id="newPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="newPassword.touched && !newPassword.valid"
      >
        <div *ngIf="newPassword.errors.required">New password required</div>
        <div *ngIf="newPassword.errors.minlength">
          password length should be at least
          {{ newPassword.errors.minlength.requiredLength }}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        class="form-control"
        type="password"
        id="confirmPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="confirmPassword.touched && !confirmPassword.valid"
      >
        <div *ngIf="confirmPassword.errors.required">
          confirm password required
        </div>
      </div>
      <div
        class="alert alert-danger"
        *ngIf="confirmPassword.valid && form.invalid && form.errors.confirmPasswordNotMatched"
      >
        Password don not match
      </div>
    </div>
  </div>
  <div>{{ form.value | json }}</div>
  <button class="btn btn-primary" [disabled]="form.invalid">
    Change Password
  </button>
</form>
