<!-- <div *ngIf="courses.length > 0; then courseList; else noCourses">
  <ng-template #courseList> List of Courses: {{courses.length}} </ng-template>
  <ng-template #noCourses> No courses </ng-template>
</div>
 -->

<!-- <div [hidden]="courses.length==0">
  List of courses
 </div>
 <div [hidden]="courses.length>0">
No courses
</div> -->

<!-- <ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">MapView</a></li>
  <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">ListView</a></li>
  <li [class.active]="viewMode=='other'"><a (click)="viewMode='others'">OtherView</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map view showing</div>
  <div *ngSwitchCase="'list'">List view showing</div>
  <div *ngSwitchCase="'others'">Other view showing</div>
  <div *ngSwitchDefault>Default view</div>
</div> -->

<!-- <zippy title="Shipping Details"> Shipping Details content </zippy>
<zippy title="Billing Details"> Shipping Details content </zippy> -->

<!-- <course-form></course-form> -->

<!-- <change-password></change-password> -->
<github-followers></github-followers>
