<form #courseForm="ngForm" (ngSubmit)="submit(courseForm.value)">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
      class="form-control"
      type="text"
      required
      minlength="3"
      ngModel
      name="courseName"
      id="courseName"
      #courseName="ngModel"
    />
    <div class="alert alert-danger" *ngIf="courseName.touched && !courseName.valid">
      <div *ngIf="courseName.errors.required">Course name required</div>
      <div *ngIf="courseName.errors.minlength">Course name should be at lest {{courseName.errors.minlength.requiredLength}}</div>
    </div>
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select
      class="form-control"
      ngModel
      name="category"
      id="category"
      #category="ngModel"
      required
    >
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.value }}
      </option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
      category required
    </div>
  </div>
  <div class="checkbox">
    <label for="isMoneyBack">
      <input type="checkbox" ngModel name="isMoneyBack" id="isMoneyBack" /> 30 days money back guarantee
    </label>
  </div>
  <div>{{ courseForm.value | json }}</div>
  <button class="btn btn-primary" [disabled]="courseForm.invalid">Create</button>
</form>
